on:
  push:
    branches:
      - master
    paths:
      - 'Dockerfile'
      - '.github/workflows/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - name: Build container image
        run: docker build -t ${{ secrets.REGISTRY_NAME }}/tunehoard:$(echo $GITHUB_SHA | head -c7) .
      - name: Log in to DigitalOcean Container Registry with short-lived credentials
        run: doctl registry login --expiry-seconds 1200
      - name: Tag image as latest
        run: docker tag ${{ secrets.REGISTRY_NAME }}/tunehoard:$(echo $GITHUB_SHA | head -c7) ${{ secrets.REGISTRY_NAME }}/tunehoard:latest
      - name: Push image to DigitalOcean Container Registry
        run: docker push ${{ secrets.REGISTRY_NAME }}/tunehoard:$(echo $GITHUB_SHA | head -c7)
      - name: Push latest tag to DigitalOcean Container Registry
        run: docker push ${{ secrets.REGISTRY_NAME }}/tunehoard:latest
